.material-symbols-outlined {
  margin-right: 0.5em;
  width: 2em;
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 78;
}

* {
  margin: 0;

  /* font-family: 'Playfair Display', serif; */
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  font-size: 3.5em;
  font-family: 'Playfair Display', serif;
  line-height: 1em;
  margin: 0 0 0.4em 0;
  font-weight: 200;
}

h4 {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: 200;
  margin-bottom: 0.9em;
}

p {
  font-size: 1.1em;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

button {
  background-color: #1a2236;
  color: white;
  padding: 1em;
  margin: 1em 0;
  font-size: 1.1em;
  border: white solid;
}

button:hover {
  background-color: #1e0336;
}

img,
#mobile-img {
  width: 414px;
  display: block;
}

#mobile-nav {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#desktop-img {
  display: none;
}

#my-name {
  font-size: 4.8em;
}

#about-me {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

#About-myself,
#contact-me {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
}

#About-myself button {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#nav-image {
  width: 150px;
}

#Works {
  display: flex;
}

#Works-desktop {
  display: none;
}

.sub-heads {
  margin-left: 0.5em;
}

.project-card-section {
  background-color: #1a2236;
  display: grid;
}

.project-card {
  margin: 0;
  background-color: #1a2236;
}

.project-details {
  background-color: #1a2236;
  color: white;
  padding: 1.5em 2em;
}

.skill {
  display: block;
}

.project-skill ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #1a2236;
}

.project-skill li {
  margin: 0;
  list-style: none;
  padding: 7px 10px;
  background-color: #98dede;
  float: left;
}

.project-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.skill-card {
  height: 330px;
  color: white;
  margin: 13px 0;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.skill-card h4 {
  font-weight: bold;
}

.skill-card ul {
  margin: 0;
  padding: 15px;
}

.skill-card ul li {
  font-size: 20px;
  font-weight: 500;
}

#language {
  background-color: #1c528a;
  background-image: url("./images/ic_hastag.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}

#frameworks {
  background-color: #e2505c;
  background-image: url("./images/ic_framework.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}

#skills {
  background-color: #febf52;
  background-image: url("./images/ic_skills.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}

form {
  display: flex;
  flex-direction: column;
  color: #7d7c84;
}

#submit-button {
  padding: 10px;
}

.form {
  margin: 1em 0;
}

label {
  font-size: 12px;
}

input,
textarea {
  width: 90%;
  padding: 16px;
  margin: 10px 0;
  color: #1a2236;
}

#message {
  width: 22rem;
  height: 10rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

a {
  color: #98dede;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 150px;
  background-color: #1a2236;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 25px;
}

footer span {
  margin-left: 10px;
}

.project-button span {
  margin-left: 20px;
  width: 8px;
}

.socials {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

@media screen and (min-width: 768px) {
  #mobile-nav {
    display: none;
  }

  #my-name {
    font-size: 6em;
    font-weight: 500;
  }

  p {
    font-size: 0.9em;
    font-weight: 500;
  }

  #about {
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
  }

  #about-me {
    margin: 0;
    padding: 0 8em;
    width: 50%;
    display: flex;
    justify-content: center;
    background-image: url("./images/image_dots.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25%;
  }

  #mobile-img {
    width: 50%;
    display: none;
  }

  #desktop-img {
    width: 50%;
    display: block;
  }

  button {
    margin-top: 3em;
    width: 15rem;
  }

  #Works {
    display: none;
  }

  #Works-desktop {
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
  }

  #project-1 {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    padding-left: 2em;
    writing-mode: horizontal-tb;
  }

  h2 {
    width: 300px;
    font-size: 6rem;
  }

  #rotate-heading {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2em;
    height: 650px;
    background-image: url("./images/image_dots.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 40%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }

  h4 {
    font-weight: 800;
  }

  #project-1-img {
    margin-top: 200px;
    width: 1000px;
    display: block;
  }

  .project-card {
    width: 465px;
    height: 30em;
    margin: 0 10em;
    position: relative;
    top: -63em;
    left: 58.6em;
  }

  #patterns-bg img {
    margin: auto;
  }

  #bg-pattern {
    width: 1400px;
  }

  #project-img {
    margin: 0;
    width: 465px;
  }

  .project-button {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .project-skill {
    margin-top: 2em;
  }

  #About-myself {
    flex-direction: row-reverse;
  }

  .About-myself {
    max-width: 1400px;
  }

  .about-section {
    width: 50%;
    padding: 5rem 0;
  }

  .skill {
    display: grid;
    width: 50%;
    margin-right: 3rem;
  }

  .sub-heads {
    margin-left: 0;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
  }
};